@use 'variables';

@mixin flex-center-center {
    display: flex;
    align-items: center;
    justify-content: center;
}


//? Menu Lateral
.lateral-menu {
    @include flex-center-center();
    flex-direction: column;
    justify-content: space-between;
    width: variables.$lenLarge2;
    height: 100dvh;
    background-color: variables.$darkColor1;

    .logo {
        @include flex-center-center();
        width: 100%;
        height: variables.$lenLarge3;
        background-color: variables.$mainColor1;
        color: variables.$fontColor1;
        font-size: variables.$lenMedium3;
        cursor: pointer;

        img {
            width: 80%;
        }
    }

    .menu-icons {
        @include flex-center-center();
        flex-direction: column;
        gap: variables.$lenSmall3;

        .menu-icon {
            @include flex-center-center();
            width: variables.$lenLarge1;
            height: variables.$lenLarge1;
            border-radius: 50%;
            background-color: variables.$darkColor2;
            color: variables.$fontColor1;
            font-size: variables.$lenMedium2;

            &:hover {
                color: variables.$fontColor2;
                cursor: pointer;
            }
        }
    }

    .upload {
        @include flex-center-center();
        width: variables.$lenLarge1;
        height: variables.$lenLarge1;
        border-radius: 50%;
        margin-bottom: variables.$lenMedium1;
        background-color: variables.$mainColor1;
        color: variables.$fontColor1;
        font-size: variables.$lenMedium2;

        &:hover {
            color: variables.$fontColor2;
            cursor: pointer;
        }
    }
}

//? Header
header {
    @include flex-center-center();
    justify-content: space-between;
    width: calc(100dvw - variables.$lenLarge2);
    height: variables.$lenLarge3;
    padding-inline: variables.$lenMedium1;
    background-color: variables.$darkColor2;
    z-index: 1;

    .search {
        @include flex-center-center();
        justify-content: space-evenly;
        width: 10rem;
        height: variables.$lenMedium3;
        padding: variables.$lenSmall1 0;
        border-radius: variables.$lenMedium3;
        background-color: variables.$darkColor3;
        color: variables.$fontColor1;

        i:hover {
            color: variables.$fontColor2;
            cursor: pointer;
        }

        input {
            width: 60%;
            height: 100%;
            border: none;
            outline: none;
            background: none;
            color: variables.$fontColor1;
            font-size: variables.$lenSmall3;
        }
    }

    .title-header {
        font-size: variables.$lenMedium2;
        color: variables.$fontColor1;
        font-weight: 800;
        user-select: none
    }

    .profile-icons {
        @include flex-center-center();
        gap: variables.$lenMedium3;
        font-size: variables.$lenMedium2;
        color: variables.$fontColor1;

        i:hover {
            color: variables.$fontColor2;
            cursor: pointer;
        }

        .bell-container {
            position: relative;

            .bell-badge {
                position: absolute;
                top: variables.$lenSmall1;
                right: -1px;
                width: variables.$lenSmall2;
                height: variables.$lenSmall2;
                border-radius: 50%;
                background-color: variables.$mainColor2;
            }
        }

        img {
            width: variables.$lenLarge1;
            height: variables.$lenLarge1;
            border-radius: 50%;
            border: 2px solid variables.$mainColor1;
            cursor: pointer;
        }
    }
}

//? Contenido principal
.main-content {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 30% auto;
    gap: variables.$lenMedium2;
    width: calc(100vw - variables.$lenLarge2);
    min-height: calc(100dvh - variables.$lenLarge3);
    padding: variables.$lenMedium2;
    user-select: none;

    //* estilos generales de cada bloque de informacion
    .info {
        padding: variables.$lenMedium1;
        border-radius: variables.$lenMedium1;
        background-color: variables.$darkColor2;
    }

    //* estilos individuales de cada bloque de informacion
    .cases,
    .healthy {
        @include flex-center-center();
        justify-content: space-evenly;
        
        .cases-data,
        .healthy-data {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            line-height: .8;

            .cases-title,
            .healthy-title {
                color: variables.$fontColor2;
            }

            .cases-num,
            .healthy-num {
                color: variables.$fontColor1;
                font-size: variables.$lenLarge1;
            }
        }
        
        .cases-icon,
        .healthy-icon {
            @include flex-center-center();
            width: variables.$lenLarge3;
            height: variables.$lenLarge3;
            border-radius: 50%;
            color: variables.$fontColor1;
            font-size: variables.$lenMedium3;
            background-color: variables.$mainColor1;
        }
    }
    .datos {
        @include flex-center-center();
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: variables.$lenMedium3;

        .datos-block {
            @include flex-center-center();
            gap: variables.$lenSmall3;

            .datos-block-color {
                width: variables.$lenSmall2;
                height: variables.$lenSmall2;
                border-radius: 50%;

                &.color-total {
                    background-color: variables.$mainColor1;
                }

                &.color-avg {
                    background-color: variables.$mainColor2;
                }

                &.color-target {
                    background-color: variables.$mainColor3;
                }
            }

            .datos-block-data {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                line-height: .8;

                .datos-block-title {
                    color: variables.$fontColor2;
                }

                .datos-block-num {
                    color: variables.$fontColor1;
                    font-size: variables.$lenLarge1;
                }
            }
        }
    }

    .rate {
        @include flex-center-center();
        flex-direction: column;
        justify-content: space-between;

        .rate-title {
            color: variables.$fontColor1;
        }

        .rate-data {
            @include flex-center-center();
            flex-direction: column;
            line-height: 1.2;

            .rate-num {
                font-size: variables.$lenMedium2;
                color: variables.$fontColor1;
            }

            .rate-p {
                font-size: variables.$lenSmall3;
                color: variables.$fontColor2;
            }
        }

        .rate-chart-container {
            @include flex-center-center();
        }
    }

    .recovered {
        @include flex-center-center();
        flex-direction: column;
        justify-content: space-between;

        .recovered-title {
            color: variables.$fontColor1;
        }

        .recovered-data {
            @include flex-center-center();
            justify-content: space-evenly;
            width: 100%;

            .recovered-data-info {
                @include flex-center-center();
                flex-direction: column;
                line-height: 1.2;

                .recovered-data-info-num {
                    font-size: variables.$lenMedium2;
                    color: variables.$fontColor1;
                }

                .recovered-data-info-title {
                    font-size: variables.$lenSmall3;
                    color: variables.$fontColor2;
                }
            }
        }

        .recovered-chart-container {
            @include flex-center-center();
        }
    }

    .survival {
        @include flex-center-center();
        flex-direction: column;
        justify-content: space-between;

        .survival-title {
            color: variables.$fontColor1;
        }

        .survival-data {
            @include flex-center-center();
            flex-direction: column;
            line-height: 1.2;

            .survival-data-num {
                font-size: variables.$lenMedium2;
                color: variables.$fontColor1;
            }

            .survival-data-title {
                font-size: variables.$lenSmall3;
                color: variables.$fontColor2;
            }
        }

        .survival-chart-container {
            @include flex-center-center();
        }
    }
}

// ToDo: crear diseños responsive
//* Responsive
@media (max-width: 1240px) {
    .main-content {
        grid-template-columns: repeat(2, calc(50% - variables.$lenMedium2));
        grid-template-rows: repeat(2, 10rem) repeat(2, 20rem);
    }
}

@media (max-width: 767px) {
    header {
        
        .search {
            display: none;
        }

        .title-header {
            flex-grow: 1;
            text-align: center;
        }

        .config-container,
        .bell-container {
            display: none;
        }
    }

    .main-content {
        grid-template-columns: calc(100% - variables.$lenMedium2);
        grid-template-rows: repeat(2, 10rem) auto repeat(3, 20rem);
    }
}