//? Colores Principaes
$mainColor1: #8738F9;
$mainColor2: #C651CD;
$mainColor3: #363636;

//? Colores Oscuros
$darkColor1: #100F10;
$darkColor2: #1B1B1B;
$darkColor3: #242424;

//? Colores de Letra
$fontColor1: rgba(255, 255, 255, .96);
$fontColor2: rgba(255, 255, 255, .67);
$fontColor3: rgba(255, 255, 255, .45);

//? Tamaños de Letra (chico)
$fontSmall1: 6px;
$fontSmall2: 10px;
$fontSmall3: 14px;

//? Tamaños de Letra (mediano)
$fontMedium1: 16px;
$fontMedium2: 22px;
$fontMedium3: 28px;

//? Tamaños de Letra (grande)
$fonLarge1: 40px;
$fonLarge2: 56px;
$fonLarge3: 72px;