//? Colores Principaes
$mainColor1: #8738F9;
$mainColor2: #C651CD;
$mainColor3: #363636;

//? Colores Oscuros
$darkColor1: #0F0F0F;
$darkColor2: #1B1B1B;
$darkColor3: #242424;

//? Colores de Letra
$fontColor1: rgba(255, 255, 255, .96);
$fontColor2: rgba(255, 255, 255, .67);
$fontColor3: rgba(255, 255, 255, .45);

//? Tamaños (chico)
$lenSmall1: 6px;
$lenSmall2: 10px;
$lenSmall3: 14px;

//? Tamaños (mediano)
$lenMedium1: 16px;
$lenMedium2: 22px;
$lenMedium3: 28px;

//? Tamaños (grande)
$lenLarge1: 40px;
$lenLarge2: 56px;
$lenLarge3: 72px;